@model IEnumerable<OnlineBikeStore.Models.UserViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    
<div>
    <a href="@Url.Action("Dashboard","Dashboard")" style=" color: #6ebb4a; font-size: 14px; font-weight: 600;">
        Home
        <i class="fas fa-angle-right" style="color: #c1cdc2;"></i>
     
    </a>
    <h4>
        <span class="text-muted">Customers  </span>
    </h4>
</div>

<div class="table-div">
    <table class="display table table-bordered" id="userTable">
        <thead>
            <tr>
                <th>User Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.user_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.first_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>                
                <td style="text-align:center">
                    <div class="btn-group">
                        <a href="@Url.Action("Details", "Customer", new { userId = item.user_id })" class=" btn btn-outline-secondary"><i class="bi bi-info-circle"></i>&nbsp; Details</a>
                        <a href="@Url.Action("Edit", "Customer", new { userId = item.user_id })" class=" btn btn-outline-info"><i class="bi bi-pencil-square"></i>&nbsp; Edit</a>                        
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
<script>
    $(document).ready(
        function () {
            $('#userTable').DataTable();
    )
</script>