@model List<OnlineBikeStore.Models.WishListViewModel>
@{
    ViewBag.Title = "WishlistIndex";
    Layout = null;
}
<style>
    .img {
        max-height: 100px;
        max-width: 100px;
    }
</style>
<div>
    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <div class="content-box scale-up-hover" id="wishlistItemDiv_@item.product_id">
                <div class="img-container" style="width:120px">
                    <a href="@Url.Action("Product","Home",new {pId = item.product_id})">
                        @if (item.image_url != null)
                        {
                            <img src="@Url.Content(item.image_url)" class="img" />
                        }
                        else
                        {
                            <img src="~/Images//Utilities//No-Image-Placeholder.svg.png" class="img" />
                        }
                    </a>
                </div>
                <div class="d-flex mx-4">
                    <div>
                        @item.product_name
                        <br />
                        @item.price
                    </div>
                </div>
                <p class="ms-auto align-self-center" style="cursor:pointer" onclick="AddRemoveWishlist(@item.product_id)">Remove</p>
            </div>
        }
    }
    else
    {
        <div class="content-row">
            No items
        </div>
    }
   
</div>

