@model List<OnlineBikeStore.Models.OrderViewModel>

<div class="table-div">

<table class="table table-bordered table-hover w-100" id="orderItemsTable">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Status</th>
            <th>Total</th>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(x => x.order_id))
        {
            <tr style="justify-content: space-between">
                <td  onclick="window.location.href='@Url.Action("OrderDetails", "Order", new { orderId = item.order_id })'">
                    @item.order_id
                </td>
                <td>
                    @item.order_date.ToString("D")
                </td>
                <td>
                    <h6> Order @((OnlineBikeStore.Models.OrderStatus)item.order_status)</h6>                   
                </td>
                <td>
                    @item.total_price
                </td>
                <td>
                    @if (item.order_status != 2 && item.order_status != 3)
                    {
                        <select name="oStatus" class=" updateStatus d-inline w-50" id="oStatus_@item.order_id" onchange="enableButton(@item.order_id)">
                            <option value=""  selected>Update Status</option>
                            @if (item.order_status < 1)
                            {
                                <option value="1">Shipped</option>
                            }
                            @if (item.order_status < 2)
                            {
                                <option value="2">Delivered</option>
                            }
                        </select>
                        <button class=" updateStatusBtn" onclick="updateOrderStatus(@item.order_id)"  id="statusUpdateBtn_@item.order_id" disabled>
                            <i class="bi bi-check-all" style="color:forestgreen"></i>
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<script>  
    $(document).ready(
        function () {
            $('#orderItemsTable').DataTable({
                order: [[1, 'desc']]
            });

        }

    )
   
   
    function updateOrderStatus(oId) {
        var o_status = $("#oStatus_" + oId).val();
          $.ajax({
              url: "@Url.Action("UpdateOrderStatus", "Order")",
              data: {
                  oID:oId,
                  oStatus: o_status
              },
              type: "POST",
              success: function (response) {
                  if (response.success)
                  {
                      alert("Order status updated.");
                      loadPartialView();
                  }
                  else {
                      alert(response.message)
                  }
              },
              error: function () {
                      alert("Something went wrong.")
              }
         })
    }
    function enableButton(oId) {
        var oStatus = $("#oStatus_" + oId).val();
        var button = $("#statusUpdateBtn_" + oId);


        if (oStatus) {
            button.prop("disabled", false);
        } else {
            button.prop("disabled", true);
        }
    }

    function loadPartialView() {
        var _query = null;
        var status = null;
    $.ajax({
        url: '@Url.Action("GetOrdersPartial", "Order")',
        type: 'GET',
        data: {
            query: _query,
            orderStatus: status
        },
        success: function (response) {
            $('#partialViewContainer').html(response);
        },
        error: function () {
            console.log('Error loading partial view.');
        }
    });
}
</script>