@model List<OnlineBikeStore.Models.OrderViewModel>
@{
    ViewBag.Title = "Orders";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .active-fliter{
        background-color:#cbe1ce;
    }
    .your-element::-webkit-scrollbar {
        display: none; 
    }
</style>
<link href="~/Content/Admin/orders.css" rel="stylesheet" />


<div class="container p-0">

    <div>
        <a style=" color: #6ebb4a; font-size: 14px; font-weight: 600;">
            Home
            <i class="fas fa-angle-right" style="color: #c1cdc2;"></i>

        </a>
        <h4>
            Orders
        </h4>
    </div>


    <div>
        <div class="searchDiv">

            <input type="text" id="searchQuery" placeholder="Enter order id..." />

        </div>
        <div class="row g-4 mb-4 mt-3">
            <div class="col-6 col-lg-3 ">
                <div class=" shadow-sm h-100  active-fliter filterDiv">
                    <div class="p-3 p-lg-4">
                        <h4 class="mb-1">All Inventory</h4>
                        <span id="allOrders"></span>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3 ">
                <div class=" shadow-sm h-100  filterDiv">
                    <div class="p-3 p-lg-4">
                        <h4 class="mb-1">Low Stock</h4>
                        <span id="Placed"></span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 ">
                <div class=" shadow-sm h-100  filterDiv">
                    <div class="p-3 p-lg-4">
                        <h4 class="mb-1">Out Of Stock</h4>
                        <span id="Shipped"></span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 ">
                <div class=" shadow-sm h-100  filterDiv">
                    <div class="p-3 p-lg-4">
                        <h4 class="mb-1">Delivered</h4>
                        <span id="Delivered"></span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 ">
                <div class=" shadow-sm h-100  filterDiv">
                    <div class="p-3 p-lg-4">
                        <h4 class="mb-1">Cancelled</h4>
                        <span id="Cancelled"></span>
                    </div>
                </div>
            </div>
        </div>      
    </div>



    <div id="partialViewContainer" class="table-div">
        @Html.Partial("_GetOrdersAdmin")
    </div>



</div>

<script>
    $(document).ready(function () {
        $("#allOrders").text(@Model.Count())
        $("#Placed").text(@Model.Count(x=>x.order_status==0))
        $("#Shipped").text(@Model.Count(x=>x.order_status==1))
        $("#Delivered").text(@Model.Count(x=>x.order_status==2))
        $("#Cancelled").text(@Model.Count(x=>x.order_status==3))        

        var query;
        var status;

        $("#searchQuery").on('input',function () {
            query = $("#searchQuery").val();
            loadPartialView();
        })

        $('.filterDiv').on('click', function () {
            status = $(this).find('span').last().attr('id');
            loadPartialView();
            $('.filterDiv').removeClass("active-fliter");
            $(this).addClass("active-fliter");
        })

        function loadPartialView() {
            $.ajax({
                url: '@Url.Action("GetOrdersPartial", "Order")',
                type: 'GET',
                data: {
                    query: query,
                    orderStatus: status
                },
                success: function (response) {
                    $('#partialViewContainer').html(response);
                },
                error: function () {
                    console.log('Error loading partial view.');
                }
            });
        }


});
</script>
