@model List<OnlineBikeStore.Models.OrderViewModel>
@{
    ViewBag.Title = "Orders";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/Admin/orders.css" rel="stylesheet" />

<div class="container p-0">
    <div>
        <a href="@Url.Action("Dashboard","Dashboard")" style=" color: #6ebb4a; font-size: 14px; font-weight: 600;">
            Home
            <i class="fas fa-angle-right" style="color: #c1cdc2;"></i>
        </a>
        <h4>
            Orders
        </h4>
    </div>

    <div>    
        <div class="d-flex flex-wrap gap-3 mb-4 mt-3">
            <div class="flex-fill shadow-sm h-100 active-fliter filterDiv">
                <div class="p-3 p-lg-4">
                    <h4 class="mb-1">All Orders</h4>
                    <span id="allOrders"></span>
                </div>
            </div>

            <div class="flex-fill shadow-sm h-100 filterDiv">
                <div class="p-3 p-lg-4">
                    <h4 class="mb-1">Pending</h4>
                    <span id="Placed"></span>
                </div>
            </div>

            <div class="flex-fill shadow-sm h-100 filterDiv">
                <div class="p-3 p-lg-4">
                    <h4 class="mb-1">Shipped</h4>
                    <span id="Shipped"></span>
                </div>
            </div>

            <div class="flex-fill shadow-sm h-100 filterDiv">
                <div class="p-3 p-lg-4">
                    <h4 class="mb-1">Delivered</h4>
                    <span id="Delivered"></span>
                </div>
            </div>

            <div class="flex-fill shadow-sm h-100 filterDiv">
                <div class="p-3 p-lg-4">
                    <h4 class="mb-1">Cancelled</h4>
                    <span id="Cancelled"></span>
                </div>
            </div>
        </div>
    </div>

    <div id="partialViewContainer" class="table-div">
        @Html.Partial("_GetOrdersAdmin")
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#allOrders").text(@Model.Count())
        $("#Placed").text(@Model.Count(x=>x.order_status==0))
        $("#Shipped").text(@Model.Count(x=>x.order_status==1))
        $("#Delivered").text(@Model.Count(x=>x.order_status==2))
        $("#Cancelled").text(@Model.Count(x=>x.order_status==3))        

        var query;
        var status;
      
        $('.filterDiv').on('click', function () {
            status = $(this).find('span').last().attr('id');
            loadPartialView();
            $('.filterDiv').removeClass("active-fliter");
            $(this).addClass("active-fliter");
        })

        function loadPartialView() {
            $.ajax({
                url: '@Url.Action("GetOrdersPartial", "Order")',
                type: 'GET',
                data: {                    
                    orderStatus: status
                },
                success: function (response) {
                    $('#partialViewContainer').html(response);
                },
                error: function () {
                    console.log('Error loading partial view.');
                }
            });
        }


});
</script>
