@model OnlineBikeStore.Models.OrderDetailsViewModel
@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<link href="~/Content/Customer/order_details.css" rel="stylesheet" />
<div class="container">
    <div>
        <a style=" color: #6ebb4a; font-size: 14px; font-weight: 600;">
            Home
            <i class="fas fa-angle-right" style="color: #c1cdc2;"></i>
            My Account
            <i class="fas fa-angle-right" style="color: #c1cdc2;"></i>


        </a>
        <h4>
            Order Details
        </h4>
    </div>
    <div class="">
        <div class="row w-100">
            <div class="col-12 col-xl-5 ">
                <div class="content-box flex-column">
                    <h5><b>Shipping Address</b></h5>
                    <span>@Model.userDetails.first_name </span>
                    <p>
                        @Model.userDetails.street, @Model.userDetails.city,
                        <BR />@Model.userDetails.state, @Model.userDetails.zip_code
                    </p>
                    <span>Mobile number: @Model.userDetails.phone</span>
                </div>

            </div>
            <div class="col-12 col-xl-4">
                <div class="content-box flex-column">
                    <table>
                        <tr>
                            <td>Order Date</td>
                            <td>@Model.order_date.ToString("D")</td>
                        </tr>
                        <tr>
                            <td>Order Id</td>
                            <td>@Model.order_id</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>Rs.@Model.orderItems.Sum(oi => oi.list_price).ToString("N2")</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>
                                @switch (Model.order_status)
                                {
                                    case 0:
                                        <h6>Order Placed</h6>

                                        break;
                                    case 1:
                                        <h6>Order Shipped</h6>

                                        break;
                                    case 2:
                                        <h6>Order Delivered</h6>
                                        break;
                                    case 3:
                                        <h6>Order Cancelled</h6>
                                        break;
                                    default:
                                        @:Unknown Status
                                        break;
                                }
                            </td>
                        </tr>
                    </table>


                </div>

                <a href="@Url.Action("_DownloadOrderSummary", new {orderId = Model.order_id})" class="btn btn-sm w-100" style="border:1px solid #c1cdc2; border-radius:5px; margin-top:-5px; background-color:white">Download Invoice</a>               
            </div>
            <div class="col-12 col-xl-3 d-flex flex-column justify-content-around align-items-center my-1">

                @if (Model.order_status == 0 || Model.order_status == 1)
                {

                    <div id="cancelBtnDiv">
                        <button class="btn btn-sm btn-danger w-100" data-bs-toggle="modal" data-bs-target="#cancelOrderModal">Cancel Order</button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="cancelOrderModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Cancel</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to cancel this Order?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    <button type="button" class="btn btn-danger" id="confirmDelete" data-bs-target="#confirmDeleteModal" onclick="cancelOrder(@Model.order_id)">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>

    @foreach (var item in Model.orderItems)
    {
        <div class="content-box  align-items-center">
            <div class="d-flex">
                <div class="card1-imgdiv p-3 ">
                    @if (item.productDetails.url != null)
                    {
                        <img class="card1-img" src="@Url.Content(@item.productDetails.url)" />
                    }
                    else
                    {
                        <img class="card1-img" src="~/Images/Utilities/No-Image-Placeholder.svg.png" />
                    }
                </div>
                <div class="p-3 ms-xl-5 product-text ">
                    @item.productDetails.product_name
                    <br />
                    @{
                        var itemPrice = item.productDetails.list_price - (item.productDetails.list_price * item.discount);
                    }
                    ₹@itemPrice
                    <br />
                    <spna class="text-muted">Seller:</spna>@item.store_name
                </div>
            </div>
           
            <div style="margin-left:auto;">
                @if (Model.order_status == 2)
                {
                    <h4 style="color:cornflowerblue">
                        <a class="btn btn-outline-dark" href="@Url.Action("AddUpdateFeedback","feedback", new {pId = item.productDetails.product_id})">
                           Review Product
                        </a>
                    </h4>
                }

            </div>
        </div>
    }
</div>



<script>
    function cancelOrder(oId) {
         $.ajax({
             url: "@Url.Action("UpdateOrderStatus", "Order")",
             data: {
                 oID:oId,
                 oStatus: 3
             },
             type: "POST",
             success: function (response) {
                 if (response.success) {
                     $('#cancelOrderModal').modal('hide')
                     $('#cancelBtnDiv').html('<span class="text-muted">Order Cancelled</span>');
                 }
                 else {
                     $('#cancelOrderModal').modal('hide')
                     alert(response.message)
                 }
             },
             error: function () {
                 $('#cancelOrderModal').modal('hide')
                     alert("Something went wrong.")
             }
        })
    }
</script>