@model IEnumerable<OnlineBikeStore.Models.BrandViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Display TempData messages -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["NotFound"] != null)
{
    <div class="alert alert-warning">
        @TempData["NotFound"]
    </div>
}
<div class="d-flex justify-content-between align-items-end mb-3">
    <div>
        <a href="@Url.Action("Dashboard","Dashboard")" style=" color: #6ebb4a; font-size: 14px; font-weight: 600;">
            Home
            <i class="fas fa-angle-right" style="color: #c1cdc2;"></i>

        </a>
        <h4>
            Brands
        </h4>
    </div>
    <div>
        <a href="@Url.Action("Create", "Brand")" class="addNewBtn">
            <i class="bi bi-plus-circle"></i>
            Add New Brand
        </a>
    </div>
</div>
<div class="table-div">
<table class="table table-bordered table-hover w-100" id="myTable">
    <thead>
        <tr>
            <th>
                Brand Name
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tr id="@item.brand_id">
            <td>
                @Html.DisplayFor(modelItem => item.brand_name)
            </td>
            <td class="text-center">
                @if (item.brand_image != null)
                {

                    <img src="@Url.Content(item.brand_image)" alt="Alternate Text" style="max-height:100px; max-width:180px" />
                }
            </td>    
            <td style="text-align:center;vertical-align:middle">

                <div class="btn-group">
                    <a href="@Url.Action("Edit", "Brand", new {id= item.brand_id})" class=" btn btn-outline-info"><i class="bi bi-pencil-square"></i>&nbsp; Edit</a>
                    <a href="#" class=" btn btn-outline-danger" name="brand_id" data-id="@item.brand_id"><i class="bi bi-trash"></i>&nbsp; Delete</a>
                </div>
            </td>
        </tr>
    }

</table>

</div>

<script>
    $(document).ready(
        function () {
            $('#myTable').DataTable();

        }

    )
      $(document).ready(function () {
            $(".delete-brand").click(function (e) {
                e.preventDefault();
                var brandId = $(this).data("id");
                var dataRow = $('#'+brandId);
                if (confirm("Are you sure you want to delete this brand?")) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete", "Brand")',
                        data: { id: brandId },
                        success: function (response) {
                            if (response.success) {
                                alert(response.message);
                                dataRow.remove();
                            } else {
                                alert(response.message);
                            }
                        },
                        error: function () {
                            alert("An error occurred while deleting the brand. Please try again.");
                        }
                    });
                }
            });
        });
</script>
