@model List<OnlineBikeStore.Models.FeedbackViewModel>
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>
    <a href="@Url.Action("Dashboard","Dashboard")" style=" color: #6ebb4a; font-size: 14px; font-weight: 600;">
        Home
        <i class="fas fa-angle-right" style="color: #c1cdc2;"></i>

    </a>
    <h4>
        <span class="text-muted">Feedbacks  </span>
    </h4>
</div>


<div class="table-div">
    <table class="display table table-bordered" id="feedbackTable">
        <thead>
            <tr>
                <th>User Id</th>
                <th>Product Name</th>
                <th>Rating Value</th>
                <th>Image</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.customer_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ratingValue)
                </td>
                <td>
                    @if (item.image_url != null)
                    {
                        <img src="@Url.Content(item.image_url)" width="70" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td style="text-align:center">
                    <div class="btn-group">                        
                        <a href="@Url.Action("RemoveFeedback", "Feedback", new { feedbackId = item.feedback_id })" class=" btn btn-outline-danger"><i class="bi bi-trash"></i>&nbsp; Remove</a>
                    </div>
                </td>
            </tr>
        }

    </table>
</div>
<script>
    $(document).ready(
        function () {
            $('#feedbackTable').DataTable();

        }

    )
</script>