@model OnlineBikeStore.Models.StoreDashboardViewModel

@{
    ViewBag.Title = "StoreDashBoard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .border {
        border: 1px solid grey;
        border-radius: 5px;
    }
</style>

<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
        <div>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div>
                    <a style=" color: #6ebb4a; font-size: 14px; font-weight: 600;">
                        Home
                        <i class="fas fa-angle-right" style="color: #c1cdc2;"></i>
                        Store Dashboard
                        <i class="fas fa-angle-right" style="color: #c1cdc2;"></i>
                    </a>
                    <h4>
                        <input type="hidden" value="@Model.store_id" id="store-id" />
                        @Model.store_name
                    </h4>
                </div>

                <div>
                    <button type="button" onclick="getStockNotInAnyStore()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addItemsModal">
                        Add More Items
                    </button>
                </div>

            </div>
            <div class="row g-4 mb-4">
                <div class="col-6 col-lg-3 ">
                    <div class=" shadow-sm h-100 border">
                        <div class="p-3 p-lg-4">
                            <h4 class="mb-1">All Inventory</h4>
                            <div>@Model.stock.Count()</div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-3 ">
                    <div class=" shadow-sm h-100 border">
                        <div class="p-3 p-lg-4">
                            <h4 class="mb-1">Low Stock</h4>
                            <div>@Model.stock.Count(x=>x.quantity<=5)</div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 ">
                    <div class=" shadow-sm h-100 border">
                        <div class="p-3 p-lg-4">
                            <h4 class="mb-1">Out Of Stock</h4>
                            <div>@Model.stock.Count(x => x.quantity == 0)</div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 ">
                    <div class=" shadow-sm h-100 border">
                        <div class="p-3 p-lg-4">
                            <h4 class="mb-1">Orders</h4>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="inventory-table" id="_StoreDashboardContainer">
                @Html.Partial("_StoreDashboard")
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="addItemsModal" tabindex="-1" aria-labelledby="addItemsModalTitle" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addItemsModalTitle">Add item to store</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table w-100" id="addItemsTable">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="addItemsTblBody">
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(
        function () {
            $('#store-table').DataTable();
    )
</script>