@model List<OnlineBikeStore.Models.ProductDetailsViewModel>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<div class="row cl1">
    <div class="heading">
        <span style="border-bottom: 3px solid #fc4a1a">
            OUR PRODUCTS
        </span>
    </div>
    <div class="product-row">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Product","Home", new {pId = item.product_id})" class="product-card">
                <div>
                    <div class="card1-imgdiv">
                        @if (item.url != null)
                        {
                            <img class="card1-img" src="@Url.Content(item.url)" alt="Alternate Text" />
                        }
                        else
                        {
                            <img class="card1-img" src="~/Images/Utilities/No-Image-Placeholder.svg.png" />
                        }
                    </div>
                    <div class="card1-text text-center p-1">
                        <div class="card1-text-1">
                            @item.product_name
                        </div>
                        <div class="card1-text-2">
                            @item.list_price
                        </div>

                    </div>

                </div>
            </a>

        }

    </div>
    <div class="text-center">
        Explore
    </div>
</div>

@if (ViewBag.Brands != null)
{
    <div class="row cl1">
        <div class="heading">
            <span style="border-bottom: 3px solid #fc4a1a">
                PURCHASE BY BRANDS
            </span>
        </div>
        <div class="product-row">
            @foreach (var item in ViewBag.Brands as List<OnlineBikeStore.Models.BrandViewModel>)
            {
                <a class="product-card">
                    <div>
                        <div class="card1-imgdiv">
                            @if (item.brand_image != null)
                            {
                                <img class="card1-img" src="@Url.Content(item.brand_image)" alt="Alternate Text" />
                            }
                            else
                            {
                                <img class="card1-img" src="~/Images/Utilities/No-Image-Placeholder.svg.png" />
                            }
                        </div>
                        <div class="card1-text text-center p-1">
                            <div class="card1-text-1">
                                @item.brand_name
                            </div>
                        </div>

                    </div>
                </a>

            }

        </div>
    </div>
}

<div class="row cl1">
    <div class="heading">
        <span style="border-bottom: 3px solid #fc4a1a">
            LATEST PRODUCTS
        </span>
    </div>
    <div class="product-row">
        @foreach (var item in Model.OrderByDescending(x => x.product_id))
        {
            <a class="product-card">
                <div>
                    <div class="card1-imgdiv">
                        @if (item.url != null)
                        {
                            <img class="card1-img" src="@Url.Content(item.url)" alt="Alternate Text" />
                        }
                        else
                        {
                            <img class="card1-img" src="~/Images/Utilities/No-Image-Placeholder.svg.png" />
                        }
                    </div>
                    <div class="card1-text text-center p-1">
                        <div class="card1-text-1">
                            @item.product_name
                        </div>
                        <div class="card1-text-2">
                            @item.list_price
                        </div>

                    </div>

                </div>
            </a>

        }

    </div>
</div>


