@model OnlineBikeStore.Models.ProductDetailsViewModel
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<link href="~/Content/Customer/product.css" rel="stylesheet" />
<link href="~/Fractional-Star-Rating-jsRapStar/jsRapStar.css" rel="stylesheet" />
<link href="~/cwa-lightbox-gallery/cwa_lightbox/css/cwa_lightbox_css.css" rel="stylesheet" />

<style>
    .disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.6;
    }
</style>

<div id="notification" class="notification">@ViewBag.SuccessMessage</div>
<div class="view-body container d-flex justify-content-center">

    <div class="row content">
        <div class="col-lg-4 col-md-8  ">
            <div class="grid" style="position: sticky; top: 5px;">
                <div class="ml-1">
                    <div class="row ">

                        <div class="col-12 p-1 ">


                            @if (Model.url != null)
                            {
                                <div class="imgDiv">
                                    <div style="" class="heart-style">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <i id="wishlist_@Model.product_id"
                                               class=" fa-lg heart-style @(@Model.isInWishList ? "fa fa-heart red-heart" : "far fa-heart")"
                                               onclick="AddRemoveWishlist(@Model.product_id)">
                                            </i>
                                        }
                                        else
                                        {
                                            <i class="far fa-heart fa-lg heart-style"
                                               onclick="alert('Login to add item in Wishlist')">
                                            </i>
                                        }
                                    </div>
                                    <img src="@Url.Content(Model.url)" class="img-fluid image example" alt="">
                                </div>
                            }
                            else
                            {
                                <img src="~/Images/Utilities/No-Image-Placeholder.svg.png" class="img-fluid image example" alt="">

                            }
                        <div class=" p-2 btnsDiv  row">
                            @if (Model.currentStock > 0)
                            {
                                if (Model.isInCart)
                                {
                                    <div class="col  m-1 p-0">
                                        <a href="@Url.Action("CartIndex", "Cart")" class=" p-btn1 p-btn"> GO TO CART</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="col  m-1 p-0">
                                        @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                                        {
                                            <input type="hidden" value="@Model.product_id" name="pId" />
                                            <button type="submit" class="p-btn1 p-btn">
                                                ADD TO CART
                                            </button>
                                        }
                                    </div>
                                }
                            }
                                <div class="col m-1 p-0">
                                    @if (Model.currentStock < 1)
                                    {
                                        <a href="#" class="p-btn2 p-btn disabled" aria-disabled="true">NOT AVAILABLE</a>
                                    }
                                    else
                                    {
                                        @Html.ActionLink("BUY NOW", "OrderSummary", "Order", new { pId = Model.product_id }, new { @class = "p-btn2 p-btn" })
                                    }
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-8  p-3">
            @*Product Details Section*@
            <div class="section p-3">
                <h3 class="mb-3">@Model.product_name</h3>
                <p class="mb-3">
                    <span class="item_price">Rs. @Model.list_price.ToString("N2")</span>
                    @{
                        var pwd = Model.list_price + ((Model.list_price * 10) / 100);

                    }
                    <del class="mx-2 font-weight-light">@pwd</del>
                    <label>Free delivery</label>

                    @{
                        var reviewCount = Model.Feedback.Count;
                        int avgRating = 0;
                        if (reviewCount > 0)
                        {

                            avgRating = (Model.Feedback.Sum(x => x.ratingValue)) / reviewCount;
                        }
                    }
                    <div id="overallRating">
                        @if (reviewCount > 0)
                        {
                            <i class="fa fa-star" style="color:yellow"></i><span>@avgRating </span><span>(@reviewCount Reviews)</span>

                        }
                        else
                        {
                            <span>No Reviews</span>
                        }
                    </div>
                </p>
                @if (Model.currentStock <= 5 && Model.currentStock > 0)
                {
                    <span style="color:coral">Only @Model.currentStock left.</span>
                }
                else if (Model.currentStock == 0)
                {
                    <span style="color:red">Out of stock.</span>
                }
                else if (Model.currentStock == -1)
                {
                    <span style="color:red">Not Available.</span>
                }
                <p>
                    @Html.Raw(Model.description.Replace("--", "<br />-"))
                </p>

                <div class="">
                    <p class="my-3">
                        <i class="far fa-hand-point-right mr-2"></i>
                        <label>1 Year</label>Manufacturer Warranty
                    </p>
                    <ul>
                        <li class="mb-1">
                            Brand: @Model.brand_name
                        </li>
                        <li class="mb-1">
                            Category:  @Model.category_name
                        </li>
                        <li class="mb-1">
                            Model year:  @Model.model_year
                        </li>
                        <li class="mb-1">
                            Type: @Model.product_type
                        </li>

                    </ul>
                    <p class="my-sm-4 my-3">
                        <i class="fas fa-retweet mr-3"></i>Net banking & Credit/ Debit/ ATM card
                    </p>
                </div>
                <div class="">
                    <ul>
                        <li class="mb-3">
                            Cash on Delivery Eligible.
                        </li>
                        <li class="mb-3">
                            Shipping Speed to Delivery.
                        </li>
                        <li class="mb-3">
                            EMIs from $655/month.
                        </li>
                        <li class="mb-3">
                            Bank OfferExtra 5% off* with Axis Bank Buzz Credit CardT&C
                        </li>
                    </ul>
                </div>

            </div>

            @*Reviews Section*@
            <div class="section">
                <div class="d-flex justify-content-between p-3" style="background-color:#ebebeb">
                    <div><span>Reviews</span></div>
                    @if (Model.isPurchased)
                    {
                        if (Model.isReviewed)
                        {
                            <a class="btn-cr w-auto" href="@Url.Action("AddUpdateFeedback","Feedback", new {pId = Model.product_id})">
                                Edit Review
                            </a>
                        }
                        else
                        {
                            <a class="btn-cr w-auto" href="@Url.Action("AddUpdateFeedback","Feedback", new {pId = Model.product_id})">
                                Post Review
                            </a>
                        }
                    }
                </div>
                <div>

                    @foreach (var f in Model.Feedback)
                    {
                        <div class="p-3" style="border-bottom: 1px solid #ebebeb">
                            <div class="stars d-flex" style="text-shadow: 0px 0px 1px BLACK;" value="@f.ratingValue"></div>

                            <div class="img-container" style="width:120px">
                                @if (f.image_url != null)
                                {
                                    <a class="cwa-lightbox-image" href="@Url.Content(f.image_url)">
                                        <img src="@Url.Content(f.image_url)" />
                                    </a>
                                }
                            </div>
                            <p>@f.feedback_text</p>

                            <p class="m-0" style="font-size:12px; color:grey">@f.customer_name, @f.date.ToString("D")</p>
                        </div>
                    }


                </div>

                <div class=" p-1" style="text-align: center; color:cornflowerblue">
                    @if (reviewCount < 1)
                    {

                        <span>No Reviews</span>
                    }
                    @if (reviewCount > 0 && reviewCount <= 2)
                    {

                        <span>No More Reviews</span>
                    }
                    @if (reviewCount > 2)
                    {

                        <a href="@Url.Action("ProductReviews", "Feedback", new { pId = Model.product_id })">Show All Reviews</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Fractional-Star-Rating-jsRapStar/jsRapStar.js"></script>
<script src="~/cwa-lightbox-gallery/cwa_lightbox/javascript/cwa_lightbox_v1.js"></script>
<script src="~/cwa-lightbox-gallery/cwa_lightbox_(jquery with css)/javascript/cwa_lightbox_bundle_v1.js"></script>
<script>
    $(document).ready(function () {
        $('.stars').jsRapStar({
            enabled: false,
            length: 5
        });

    })
     $(document).ready(function() {
     var message = '@ViewBag.SuccessMessage';
     if (message) {
         showNotification(message);
     }
 });
</script>