@model OnlineBikeStore.Models.ProductDetailsViewModel
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<link href="~/Content/Customer/product.css" rel="stylesheet" />


<div class="view-body container d-flex justify-content-center">

    <div class="row content">
        <div class="col-lg-4 col-md-8  ">
            <div class="grid">
                <div class="ml-1">
                    <div class="row ">

                        <div class="col-12 p-1">

                            @if (Model.url != null)
                            {

                                <div class="imgDiv ">
                                    <img src="@Url.Content(Model.url)" class="img-fluid image example" alt="">
                                </div>

                            }


                            <div class=" p-2 btnsDiv  row">
                                @if (Model.isInCart)
                                {
                                    <div class="col  m-1 p-0">
                                        <a href="@Url.Action("CartIndex","Cart")" class=" p-btn1 p-btn"> GO TO CART</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="col  m-1 p-0">
                                        @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                                        {
                                            <input type="hidden" value="@Model.product_id" name="pId" />
                                            <button type="submit" class="p-btn1 p-btn">
                                                ADD TO CART
                                            </button>
                                        }
                                    </div>
                                }
                                <div class="col m-1 p-0">
                                    @Html.ActionLink("BUY NOW", "OrderSummary", "Order", new { pId = Model.product_id }, new { @class = "p-btn2 p-btn" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-8  p-3">
            <h3 class="mb-3">@Model.product_name</h3>
            <p class="mb-3">
                <span class="item_price">@Model.list_price</span>
                <del class="mx-2 font-weight-light">$280.00</del>
                <label>Free delivery</label>
            </p>
            <p>
                @Model.description
            </p>

            <div class="">
                <p class="my-3">
                    <i class="far fa-hand-point-right mr-2"></i>
                    <label>1 Year</label>Manufacturer Warranty
                </p>
                <ul>
                    <li class="mb-1">
                        Brand: @Model.brand_name
                    </li>
                    <li class="mb-1">
                        Category:  @Model.category_name
                    </li>
                    <li class="mb-1">
                        Model year:  @Model.model_year
                    </li>
                    <li class="mb-1">
                        Type: @Model.product_type
                    </li>

                </ul>
                <p class="my-sm-4 my-3">
                    <i class="fas fa-retweet mr-3"></i>Net banking & Credit/ Debit/ ATM card
                </p>
            </div>
            <div class="">
                <ul>
                    <li class="mb-3">
                        Cash on Delivery Eligible.
                    </li>
                    <li class="mb-3">
                        Shipping Speed to Delivery.
                    </li>
                    <li class="mb-3">
                        EMIs from $655/month.
                    </li>
                    <li class="mb-3">
                        Bank OfferExtra 5% off* with Axis Bank Buzz Credit CardT&C
                    </li>
                </ul>
            </div>

            @*Reviews*@
            <div>
                <span>Rating and Reviews</span>
                <hr />
                <div>
                    <div>
                        <img src="~/Images/Utilities/No-Image-Placeholder.svg.png" height="100" width="100" />
                    </div>
                    <div>
                        This is comment!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





