@model OnlineBikeStore.Models.ProfileViewModel
<style>
    #edit-btn:hover, #cancel-btn:hover {
        cursor: pointer;
    }

    .content {
        border-radius: 5px;
        background-color: white;
    }
</style>
<div class="content-box p-3">
    <div class="w-100">

        <div class="d-flex justify-content-between mb-1">
            <span>
                Personal Information
            </span>
            <span style="color:dodgerblue" id="edit-btn">
                Edit
            </span>
            <span style="color:dodgerblue; display:none" id="cancel-btn">
                Cancel
            </span>
        </div>
        @using (Html.BeginForm("UpdateProfile", "Account", FormMethod.Post, new { @id = "profile-form" }))
        {
            <div class="row mb-1">
                <div class="col-lg-6">
                    <div class="label">
                        First Name
                    </div>
                    <input type="text" class="acdi211 " name="first_name" value="@Model.first_name" disabled />
                </div>
                <div class="col-lg-6">
                    <div class="label">
                        Last Name
                    </div>
                    <input type="text" class="acdi211 " name="last_name" value="@Model.last_name" disabled />
                </div>

            </div>
            <div class="row mb-1">
                <div class="col-lg-6">
                    <div class="label">
                        Email Address
                    </div>
                    <input type="text" class="acdi211 " id="email-input" name="email" value="@Model.email" disabled />
                </div>
                <div class="col-lg-6">
                    <div class="label">
                        Mobile Number
                    </div>
                    <input type="text" class="acdi211 " name="phone" value="@Model.phone" disabled />
                </div>
            </div>
            <div class="">
                Address
            </div>
            <div class="row mb-1">
                <div class="col-lg-6">
                    <div class="label">
                        Street
                    </div>
                    <input type="text" class="acdi211 " name="street" value="@Model.street" disabled />
                </div>
                <div class="col-lg-6">
                    <div class="label">
                        City
                    </div>
                    <input type="text" class="acdi211 " name="city" value="@Model.city" disabled />
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-lg-6">
                    <div class="label">
                        State
                    </div>
                    <input type="text" class="acdi211 " name="state" value="@Model.state" disabled />
                </div>
                <div class="col-lg-6">
                    <div class="label">
                        Pin Code
                    </div>
                    <input type="text" class="acdi211 " name="zip_code" value="@Model.zip_code" disabled />
                </div>
            </div>
            <button id="save-btn" type="submit" class="btn btn-primary" style="display:none;">Save</button>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#edit-btn').on('click', function () {
            // Enable all input fields
            $('#profile-form input').prop('disabled', false);
            $("#email-input").prop('disabled', true);
            // Hide "Edit" and show "Save"
            $(this).hide();
            $("#cancel-btn").show();
            $('#save-btn').show();
        });
        $("#cancel-btn").on('click', function () {
            // Enable all input fields
            $('#profile-form input').prop('disabled', true);

            // Hide "Edit" and show "Save"
            $(this).hide();
            $("#edit-btn").show();
            $('#save-btn').hide();
        })
    });

</script>
