@model OnlineBikeStore.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<link href="~/Content/Customer/login.css" rel="stylesheet" />



<div class="row">
    <div class="col-12 col-lg-5">
        <div class="card login-card bg-gradient">
            <center><h4>SIGN IN</h4></center>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md">Email Id</label>
                        <div class="col-md-auto">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md">Password</label>
                        <div class="col-md">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-auto">
                            <input type="submit" value="Login" class="btn btn-success btn-block w-100" />
                        </div>
                    </div>
                </div>
            }
            <div>
                Don't have account?  @Html.ActionLink("Register", "Register", "Account") here.

            </div>
        </div>
    </div>
    <div class="col-12 col-lg-7 d-flex">
        <div class="overlay">
            <h2>Your Perfect Ride Awaits!</h2>
            <p>Join us and explore the best motorbikes and gear to fuel your passion for the open road.</p>
        </div>
    </div>
    
   

       
</div>
