@model OnlineBikeStore.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<link href="~/Content/Customer/login.css" rel="stylesheet" />

<section>
    <div class="container py-2">
        <div class="row d-flex justify-content-center align-items-center h-100 mt-3">
            <div class="col col-xl-8">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="~/Images/Utilities/login_image.jpg"
                                 alt="login form" class="login-img" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Reset your password</h5>

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="control-label col-md">Email Id</label>
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="control-label col-md">Password</label>
                                        @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn login-form-btn" type="submit">Reset</button>
                                    </div>



                                }
                                <a class="small text-muted" href="@Url.Action("Login", "Account")">Login</a>
                                <div>
                                    Don't have account?  @Html.ActionLink("Register", "Create", "Account") here.

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>