@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@model string
<link href="~/Content/Customer/userProfile.css" rel="stylesheet" />
<div class="parent">
    <div class="container">
        <div class="row parent">
            <div class="col-12 col-lg-3 mt-2 p-2 ">
                <div class="d-flex hello-user mb-3 bg-white box-shadow-outset" ">
                    <div class="">
                        <i class="far fa-user-circle" style=" height: 50px; width: 50px; color: #fc4a1a; margin: 0px 18px;"></i>

                    </div>
                    <div class=" flex-column " style=" text-align: center">
                        @if (Model != null)
                        {
                            <span style="font-size:20px;">@Model.ToString()</span>
                        }
                    </div>
                </div>
                <div class="mt-2">
                    <div class="mynav">

                        @Ajax.ActionLink("Profile Information", "UserInformation", "Account", new AjaxOptions
                           {
                               HttpMethod = "GET",
                               UpdateTargetId = "targetResult",
                               InsertionMode = InsertionMode.Replace
                           }, new { @class = "NS64GK", id = "profileLink" })

                        @Ajax.ActionLink("Orders", "GetOrders", "Order", null, new AjaxOptions
                               {
                                   HttpMethod = "GET",
                                   UpdateTargetId = "targetResult",
                                   InsertionMode = InsertionMode.Replace
                               }, new { @class = "NS64GK", id = "ordersLink" })

                        @Ajax.ActionLink("Wishlist", "WishlistIndex", "Wishlist", null, new AjaxOptions
                           {
                               HttpMethod = "GET",
                               UpdateTargetId = "targetResult",
                               InsertionMode = InsertionMode.Replace,
                               LoadingElementId = "loadingImage"
                           }, new { @class = "NS64GK", id = "wishlistLink" })

                        @Ajax.ActionLink("Reviews & Ratings", "Index", "Feedback", null, new AjaxOptions
                           {
                               HttpMethod = "GET",
                               UpdateTargetId = "targetResult",
                               InsertionMode = InsertionMode.Replace,
                               LoadingElementId = "loadingImage"
                           }, new { @class = "NS64GK", id = "reviewsLink" })

                        @Ajax.ActionLink("Notifications", "ManageAddress", "Account", new AjaxOptions
                           {
                               HttpMethod = "GET",
                               UpdateTargetId = "targetResult",
                               InsertionMode = InsertionMode.Replace

                           }, new { @class = "NS64GK" })

                        @Ajax.ActionLink("Logout", "ManageAddress", "Account", new AjaxOptions
                           {
                               HttpMethod = "GET",
                               UpdateTargetId = "targetResult",
                               InsertionMode = InsertionMode.Replace
                           }, new { @class = "NS64GK" })
                       
                    </div>                   
                </div>
            </div>

            <div class="col-12 col-lg-8 mt-2 p-2">

                <div id="targetResult">
                </div>
            </div>
        </div>

    </div>
</div>
<script>

    $(document).ready(function () {
        // Perform the Ajax request to load the account details when the page loads
        var linkId = @ViewBag.LinkId;
        if (linkId == 0) {
            $("#profileLink").click();
            $("#profileLink").addClass('active');
        }
        if (linkId == 1) {
            $("#ordersLink").click();
            $("#ordersLink").addClass('active');
        }
        if (linkId == 2) {
            $("#wishlistLink").click();
            $("#wishlistLink").addClass('active');
        }
        if (linkId == 3) {
            $("#reviewsLink").click();
            $("#reviewsLink").addClass('active');
        }
        $('.NS64GK').on('click', function () {
            $('.NS64GK').removeClass('active');
            $(this).addClass('active');
        });
    });

</script>


