@model IEnumerable<OnlineBikeStore.Models.CategoryViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Display TempData messages -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["NotFound"] != null)
{
    <div class="alert alert-warning">
        @TempData["NotFound"]
    </div>
}
<div class="d-flex justify-content-between align-items-end mb-3">
    <div>
        <a href="@Url.Action("Dashboard","Dashboard")" style=" color: #6ebb4a; font-size: 14px; font-weight: 600;">
            Home
            <i class="fas fa-angle-right" style="color: #c1cdc2;"></i>

        </a>
        <h4>
            Categories
        </h4>
    </div>
    <div>
        <a href="@Url.Action("Create", "Category")" class="addNewBtn">
            <i class="bi bi-plus-circle"></i>
            Add New Category
        </a>
    </div>
</div>

<div class="table-div">
<table class="table table-bordered table-hover " id="myTable">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tr id="@item.category_id">
            <td>
                @Html.DisplayFor(modelItem => item.category_name)
            </td>
            <td class="text-center">
                @if (item.category_image != null)
                {

                    <img src="@Url.Content(item.category_image)" alt="Alternate Text" style="max-height:100px; " />
                }
            </td>
            <td style="text-align:center;">
                
                <div class="btn-group">                   
                    <a href="@Url.Action("Edit", "Category", new {id= item.category_id})" class=" btn btn-outline-info"><i class="bi bi-pencil-square"></i>&nbsp; Edit</a>
                    <a href="#" class="delete-category btn btn-outline-danger" name="category_id" data-id="@item.category_id"><i class="bi bi-trash"></i>&nbsp; Delete</a>
                </div>
            </td>
        </tr>
    }

</table>

</div>

<script>
    $(document).ready(
        function () {
            $('#myTable').DataTable();
        }

    )
      $(document).ready(function () {
            $(".delete-category").click(function (e) {
                e.preventDefault();
                var categoryId = $(this).data("id");
                var dataRow = $('#'+categoryId);
                if (confirm("Are you sure you want to delete this category?")) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete", "Category")',
                        data: { id: categoryId },
                        success: function (response) {
                            if (response.success) {
                                alert(response.message);
                                dataRow.remove();
                            } else {
                                alert(response.message);
                            }
                        },
                        error: function () {
                            alert("An error occurred while deleting the category. Please try again.");
                        }
                    });
                }
            });
        });
</script>
