@model OnlineBikeStore.Models.ProductDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <a style=" color: #6ebb4a; font-size: 14px; font-weight: 600;">
        Home
        <i class="fas fa-angle-right" style="color: #c1cdc2;"></i>
        Products
        <i class="fas fa-angle-right" style="color: #c1cdc2;"></i>
    </a>
    <h4>
        @Model.product_name
    </h4>
</div>
<div class="card py-3 px-3 px-lg-5">

    <div class="form row">
        <div class="col-12 col-lg-8">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 mt-3">

                    <div class="form-group mb-2">
                        <label class="control-label">Product Name</label>
                        <div class="">
                            @Html.EditorFor(model => model.product_name, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label class="control-label">Category</label>
                        <div class="">
                            @Html.EditorFor(model => model.category_name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label class="control-label">Brand</label>
                        <div class="">
                            @Html.EditorFor(model => model.brand_name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-6 col-lg-6 mt-3">
                    <div class="form-group mb-2">
                        <label class="control-label">Model Year</label>
                        <div class="">
                            @Html.EditorFor(model => model.model_year, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label class="control-label">Price</label>
                        <div class="">
                            @Html.EditorFor(model => model.list_price, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <label class="control-label">Type</label>
                        <div class="">
                            @Html.EditorFor(model => model.product_type, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </div>

                <div class="form-group mb-2">
                    <label class="control-label">Description</label>
                    <div class="">
                        @Html.TextAreaFor(model => model.description, new { rows = "4", @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 col-lg-4 ">
            <div class="form-group mt-2 mt-lg-5">
                <div class="col-md-offset-2 d-flex justify-content-center">
                    @if (Model.url != null)
                    {
                        <img id="imagePreview" src="@Url.Content(Model.url)" alt="Image Preview" style="max-width: 250px;height:180px;" />

                    }
                    else
                    {                        
                        <img id="imagePreview" src="~/Images/Utilities/No-Image-Placeholder.svg.png" alt="Image Preview" style="max-width: 250px;height:180px; display: none;" />
                    }
                </div>
            </div>
            <div class="form-group mb-2">
                <label class="control-label ">Image</label>
                <div class="">

                    <div class="form-group mb-2">                      
                        <div class="">
                            @Html.EditorFor(model => model.url, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card-footer">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

